body  {
	/*font: 100% Arial, Helvetica, sans-serif;*/
	font-family: 'Roboto', sans-serif;
	background: #EFEFEF;
	margin: 0; /* è buona norma impostare a zero i valori margin e padding dell'elemento body per tenere conto delle diverse impostazioni predefinite dei browser*/
	padding: 0;
	text-align: center; /* centra il contenitore nei browser IE 5*. Il testo viene quindi impostato con l'allineamento predefinito a sinistra nel selettore #container */
	color: #000000;
}

.twoColFixRtHdr #container { 
	width: 1200px;  /* utilizzando 20 px in meno rispetto alla dimensione piena di 800 px, si lascia spazio per gli elementi grafici e strutturali del browser e si evita che venga visualizzata una barra di scorrimento orizzontale */
	background: #FFFFFF;
	margin: 0 auto; /* i margini auto (insieme a una larghezza) centrano la pagina */
	border: 1px solid #000000;
	text-align: left; /* sostituisce l'impostazione text-align: center nell'elemento body. */
	box-shadow: 5px 5px 10px 5px #888, -5px 5px 10px 5px #888;
} 

.twoColFixRtHdr #header { 
	/*background: #DDDDDD; */
	/*background-image: url('images/header1.png');*/
	/*padding: 0 10px 0 30px;  /* questo padding corrisponde all'allineamento a sinistra degli elementi nei div sottostanti. Se in #header viene utilizzata un'immagine anziché un testo, può essere utile rimuovere il padding. */
	color: #FFF;
	text-shadow: 1px 1px #000;
} 

.twoColFixRtHdr #header h1 {
	margin: 0; /* azzerando il valore margin dell'ultimo elemento del div #header si evita la compressione del margine, con la creazione di uno spazio inspiegabile tra i div. Se il div è circondato da un bordo, questo accorgimento non è necessario perché anche il bordo impedisce la compressione del margine */
	padding: 10px 0; /* l'uso del valore padding al posto di margin consente di distanziare l'elemento dai bordi del div */
}

/*.twoColFixRtHdr #sidebar1 {
/*	float: right; /* poiché questo elemento è mobile, occorre specificare una larghezza */
/*	width: 200px; /* la larghezza effettiva di questo div, nei browser conformi agli standard, o la modaltià standard di Internet Explorer includerà i valori padding e border in aggiunta alla larghezza */
/*	background: #EBEBEB; /* il colore di sfondo verrà visualizzato per tutta la lunghezza del contenuto all'interno della colonna, ma non oltre */
/*	padding: 15px 10px;
/*} */

.twoColFixRtHdr #mainContent { 
	margin: 10px auto; /* il margine destro di questo elemento div crea la colonna sul lato destro della pagina; indipendentemente dalla quantità di contenuto presente nel div sidebar1, lo spazio della colonna rimane inalterato. È possibile rimuovere questo margine se si desidera che il testo del div #mainContent riempia lo spazio di #sidebar1 quando il contenuto di #sidebar1 finisce. */
	/*padding: 0 20px; /* ricordare che i valori padding e margin corrispondono rispettivamente allo spazio interno ed esterno al riquadro div  */
} 

.twoColFixRtHdr #footer { 
	padding: 0 10px 0 20px; /* questo padding corrisponde all'allineamento a sinistra degli elementi nei div sovrastanti. */
	background:#DDDDDD; 
	font-size: smaller;
	text-align:center;
} 

.twoColFixRtHdr #footer p {
	margin: 0; /* azzerando il valore margin del primo elemento del footer si evita il rischio di compressione del margine, con la creazione di uno spazio tra i div */
	padding: 10px 0; /* il padding di questo elemento crea uno spazio, così come avverrebbe specificando un valore margin, senza il problema della compressione del margine */
}

.fltrt { /* questa classe può essere utilizzata per rendere mobile un elemento a destra nella pagina. L'elemento reso mobile deve precedere l'elemento al quale deve essere affiancato sulla pagina. */
	float: right;
	margin-left: 8px;
}

.fltlft { /* questa classe può essere utilizzata per rendere mobile un elemento a sinistra nella pagina.*/
	float: left;
	margin-right: 8px;
}

.clearfloat { /* questa classe deve essere inserita in un elemento div o break e deve essere l'elemento finale prima della chiusura di un contenitore che deve contenere per intero un elemento mobile */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.twoColFixRtHdr #container #mainContent #splash {
	margin: 10px 350px;
	padding: 0px;
	height: 388px;
	width: 500px;
}

.twoColFixRtHdr #container #mainContent #login {
	margin: 10px 240px;
	padding: 0px;
	/*height: 270px;*/
	width: 720px;
	font-size: 1.9em;
    text-align: center;
}

.twoColFixRtHdr #container #mainContent #login #form_login{
	margin: 10px;
	font-size: 0.5em;
	font-weight:100;
}

.twoColFixRtHdr #container #mainContent #registration_form{
	margin: 10px;
	font-weight:100;
	height: 600px;
}

.twoColFixRtHdr #container #mainContent #network_form{
	margin: 10px;
	font-weight:100;
}

.twoColFixRtHdr #container #mainContent #station_form{
	margin: 10px;
	font-weight:100;
}

.twoColFixRtHdr #container #mainContent #psw_recovery_form{
	margin: 10px;
	font-weight:100;
	height: 600px;
}

.twoColFixRtHdr #container #mainContent #network_admin_request_form{
	margin: 10px;
	font-weight:100;
	height: 600px;
}

.twoColFixRtHdr #container #mainContent #new_network_form{
	margin: 10px;
	font-weight:100;
	height: 600px;
}

.twoColFixRtHdr #container #mainContent #new_station_form{
	margin: 10px;
	font-weight:100;
	height: 600px;
}

.twoColFixRtHdr #container #mainContent #psw_recovery_form #recovery_warning{
	font-weight:100;
	font-size: 1.5em;
}

.twoColFixRtHdr #plot01 {
	margin-top: 50px
}

.twoColFixRtHdr #plot02 {
	margin-top: 50px
}

.twoColFixRtHdr #plot03 {
	margin-top: 50px
}

.twoColFixRtHdr #plot04 {
	margin-top: 50px
}

.twoColFixRtHdr #plot05 {
	margin-top: 50px
}

.twoColFixRtHdr #plot06 {
	margin-top: 50px
}

.twoColFixRtHdr #container #sidebar1 #changeInfoButton {
	margin: 10px;
	font-weight: bold;
}

.twoColFixRtHdr #container #mainContent #SLbutton {
	margin: 10px;
	font-weight: bold;
	float: right;
}

.twoColFixRtHdr #container #mainContent #Buttons {
	margin: 20px;
	font-size: 1.5em;
	font-weight: bold;
	float: right;
}

.twoColFixRtHdr #container #mainContent #sublist {
	margin-left: 100px;
}

.twoColFixRtHdr #container #mainContent #image_forms {
	margin-top: 40px;
}

.twoColFixRtHdr #container #mainContent #upload_form {
	margin-top: 20px;
}

.twoColFixRtHdr #container #mainContent #logo_upload_form {
	margin-top: 20px;
}


.twoColFixRtHdr #container #mainContent #select_form {
	margin-top: 20px;
}

.twoColFixRtHdr #container #mainContent #image_visualization {
	margin: 10px;
	font-weight: bold;
}

.twoColFixRtHdr #container #mainContent #logos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.twoColFixRtHdr #container #mainContent #logos td {
    font-size: 1em;
    text-align: left;
    /*border: 1px solid #98bf21;*/
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #logos th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.twoColFixRtHdr #container #mainContent #cruise_details_table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #cruise_details_table td {
    font-size: 1em;
    text-align: left;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #scientific_staff_table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #scientific_staff_table td {
    font-size: 1em;
    text-align: left;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    width: 200 px;
}


.twoColFixRtHdr #container #mainContent #scientific_staff_subtable {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #scientific_staff_subtable td {
    font-size: 1em;
    text-align: left;
    /*border: 1px solid #98bf21;*/
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #params_table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #params_table td, #params_table th {
    font-size: 1em;
    text-align: left;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #params_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.twoColFixRtHdr #container #mainContent #instruments_table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #instruments_table td, #instruments_table th {
    font-size: 1em;
    text-align: left;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #instruments_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.twoColFixRtHdr #container #mainContent #stations_table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #stations_table td, #stations_table th {
    font-size: 1em;
    text-align: left;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #stations_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.twoColFixRtHdr #container #mainContent #sampling_table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #sampling_table td, #sampling_table th {
    font-size: 1em;
    text-align: left;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #sampling_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.twoColFixRtHdr #container #mainContent #vmp_table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

.twoColFixRtHdr #container #mainContent #vmp_table td, #vmp_table th {
    font-size: 1em;
    text-align: left;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    width: 200 px;
}

.twoColFixRtHdr #container #mainContent #vmp_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.multi-col {
  float:left;
  height:50px;
  margin:1px;
}
 
.clear {clear:both}
.clear-invisible {clear:both; visibility:hidden}

@media print
{
 .noPrint  {display:none}
}

pre
{
	font-family: 'Roboto', sans-serif;
	display: block;
    white-space: pre;
    margin: 1em 0;
}

--> 
</style><!--[if IE 5]>
<style type="text/css"> 
/* inserire in questo commento aggiuntivo le correzioni del modello di riquadro css per IE 5* */
.twoColFixRtHdr #sidebar1 { width: 220px; }
</style>
<![endif]--><!--[if IE]>
<style type="text/css"> 
/* inserire in questo commento condizionale le correzioni css per tutte le versioni di IE */
.twoColFixRtHdr #sidebar1 { padding-top: 30px; }
.twoColFixRtHdr #mainContent { zoom: 1; }
/* la proprietà zoom proprietaria riportata sopra fornisce a IE l'elemento hasLayout necessario per evitare vari bug */
</style>
<![endif]-->